<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" th:inline="javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/js/ajaxEspecialidade.js}"></script>
    </head>
    <body>
        <section class="layout-content" layout:fragment="corpo">

            <div id="listagem">
            
            	<h2 th:text="#{profissional.listar.label}"></h2>
                <div>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th th:text="#{profissional.name.label}" class="hide-nome-profissional"></th>
                                <th th:text="#{profissional.email.label}"></th>
                                <th th:text="#{profissional.especialidade.label}"></th>
                                <th th:text="#{profissional.curriculo.label}"></th>
                                <th th:text="#{consulta.cadastrar.label}"></th>
                            </tr>
                        </thead>
                        <tbody id="especialidades" name="especialidades">
                            <tr th:each="profissional : ${profissionais}">
                                <td th:text="${profissional.nome}" class="hide-nome-profissional"></td>
                                <td th:text="${profissional.email}"></td>
                                <td th:text="${profissional.especialidade}"></td>
                                <td colspan="1"> 
                                	<a th:href="@{/upload/{file} (file=${profissional.curriculo}) }" th:text="#{profissional.curriculo.arquivo}"></a> 
                                </td>
                                <td colspan="2">
                                    <a th:href="@{/cliente/cadastrarConsulta/{id} (id=${profissional.id}) }" th:text="#{link.consulta.label}"> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
