<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout2}">
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" th:inline="javascript">
        	var link = /*[[@{/upload}]]*/'';
        	var profCurriculo = /*[[#{profissional.curriculo.arquivo}]]*/'';
        	var consultaLabel = /*[[#{link.consulta.label}]]*/'';
        	
        </script>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
           <div class="container-login container-listar">
            <h1 th:text="#{sidebar.titulo.profissional}" style="text-align:center;"></h1>

            <div id="listagem">
                  <form name="filtraEspecialidade" class="form-listagem">
                  	<label th:text="#{filtra.especialide}" for="especialidade"></label>
                  	<input id="especialidade" name="especialidade" /><br /><br />
                  	<div class="noResults"></div>
                    <table class="table-list"> 
                        <thead>
                            <tr>
                                <th th:text="#{profissional.name.label}" class="nome"></th>
                                <th th:text="#{profissional.email.label}"></th>
                                <th th:text="#{profissional.especialidade.label}"></th>
                                <th th:text="#{profissional.curriculo.label}"></th>
                            </tr>
                        </thead>
                        <tbody id="especialidades" name="especialidades">
                            <tr th:each="profissional : ${profissionais}">
                                <td th:text="${profissional.nome}" class="nome"></td>
                                <td th:text="${profissional.email}" class="email"></td>
                                <td th:text="${profissional.especialidade}" class="especialidade"></td>
                                <td colspan="1" class="curriculo"> 
                                	 <a th:href="@{/upload{file} (file=${profissional.curriculo}) }" th:text="#{profissional.curriculo.arquivo}">
                                	</a> 
                                </td>
                                <td sec:authorize acess="isAuthenticated()" colspan="2" class="consulta" id="consultaAutorizada">
                                    <a th:href="aaaaaa"> 
                                        <span th:text="#{link.consulta.label}" > </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </form>
            </div>
            </div>
        </div>          
    </body>
</html>
