<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="cabecalho">
            <nav class="nav-main">
                 <div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
                     <form th:action="@{/logout}" method="post">
                           <input type="submit" name="login-submit" id="login-submit" value="Logout">
                     </form>
                  </div>
                  <div sec:authorize="isAnonymous()">
                       <div th:if="${profissionais == null}">
	                       <div style='right:200px; position: absolute'>
		                       	<a th:href="@{/listar}" class="button-generic">
		                       		<button type="button" th:text="#{profissional.listar.label}" ></button>
		                       	</a>
	                       </div>
                   	   </div>
	                   <div th:unless="${profissionais == null}">
	                       <div style='right:200px; position: absolute'>
		                       	<a th:href="@{/login}">
		                       		<button type="button" th:text="#{cliente.username.label}"></button>
		                       	</a>
	                       </div>
	                   </div>
               	  </div>
                    <div style="right: 100px; position: absolute">
                        <a th:href="@{''(lang=pt)}">
                        	<img alt="" th:src="@{/image/Brasil.gif}" style="width: 30px;" />
                        </a> 
                        <a th:href="@{''(lang=en)}">
                        	<img alt="" th:src="@{/image/EUA.gif}" style="width: 30px;" />
                        </a>
                    </div>
                    <div  class="btn-icone">
	                    <button href="#" onclick="menu()"><span>&#9776;</span></button>
	                    <a class="home-link" th:href="@{/}" th:text="#{title.label}"></a>
	                </div>
            </nav>
        </header>
    </body>
</html>
