<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <head>
            <meta charset="UTF-8">
        </head>
        <body>
            <nav th:fragment="nav-sidebar">
                <ul>
                    <li> 
                    	<a th:href="@{/}" th:text="#{sidebar.link.home}"></a>
                    </li>
                </ul>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <ul>
                        <li class="title-list" th:text="#{sidebar.titulo.profissional}"></li>
                        <li> 
                        	<a th:href="@{/cliente/listarConsulta}" th:text="#{consulta.listar.label}"> </a>
                        </li>
                        <li>
                        	<a th:href="@{/cliente/listarProfissional}" th:text="#{profissional.listar.label}"> </a>
                        </li>
                    </ul>
                </div>

                <div sec:authorize="hasRole('ROLE_PROF')">
                    <ul>
                        <li class="title-list" th:text="#{sidebar.titulo.consulta}"></li>
                        <li>
                        	<a th:href="@{/profissional/listarConsulta}" th:text="#{consulta.listar.label}"> </a>
                        </li>
                    </ul>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul>
                        <li class="title-list" th:text="#{sidebar.titulo.profissional}"></li><br />
                        <li>
                        	<a th:href="@{/admin/cadastrarProfissional}" th:text="#{sidebar.link.cadastrar}"></a>
                        </li> <br />
                        <li>
                        	<a th:href="@{/admin/listarProfissional}" th:text="#{sidebar.link.listar}"></a>
                        </li><br />
                    </ul>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <ul>
                        <li class="title-list" th:text="#{sidebar.titulo.cliente}"></li> <br />
                        <li>
                        	<a th:href="@{/admin/cadastrarCliente}" th:text="#{sidebar.link.cadastrar}"></a>
                        </li><br />
                        <li>
                        	<a th:href="@{/admin/listarCliente}" th:text="#{sidebar.link.listar}"></a>
                        </li><br />
                    </ul>
                </div>
            </nav>
        </body>
</html>
