<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section class="layout-content" layout:fragment="corpo">
			
            <div id="cadastro">
				<h2 th:text="#{profissional.cadastrar.label}"></h2>

                <form
                    th:action="${profissional.id == null} ? @{/admin/salvarProfissional} : @{/admin/editarProfissional}"
                    th:object="${profissional}" method="POST" enctype="multipart/form-data" class="form-cadastro">
						<div class="input-div text-input-size label-size">
                            <label th:text="#{profissional.name.label}" for="name"></label> 
                            <input type="text" id="name-input" class="box-size" th:placeholder="#{profissional.name.label}" 
                            							 autofocus="autofocus" th:field="*{nome}"
                                                         th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

                        </div>
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{profissional.email.label}" for="email"></label> 
                            <input type="email" class="box-size" id="email-input" th:placeholder="#{profissional.email.label}"
                                                         autofocus="autofocus" th:field="*{email}"
                                                         th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

                        </div>
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{profissional.password.label}" for="password"></label> 
                            <input type="text" class="box-size" id="password-input"
                                         th:placeholder="#{profissional.password.label}" autofocus="autofocus"
                                         th:field="*{senha}"
                                         th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:readonly="${profissional.id != null}"/>

                        </div>
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{profissional.CPF.label}" for="CPF"></label> 
                            <input type="text" class="form-control" id="cpf-input" th:field="*{CPF}"
                                                                    autofocus="autofocus" placeholder="___.___.___-__"
                                                                    th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" 
                                                                    data-mask="000.000.000-00" data-mask-reverse="true" />

                        </div> 
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{profissional.especialidade.label}" for="especialidade"></label> 
                            <input type="text" class="form-control" id="especialidade-input" th:field="*{especialidade}"
                                                       autofocus="autofocus"  th:classappend="${#fields.hasErrors('especialidade')} ? is-invalid" />


                        </div>	
                        <div class="input-div label-size">
                            <label th:text="#{profissional.curriculo.label}" for="curriculo"></label> 
                            <input type="file" accept=".pdf" name="file" id="file" />
                        </div>	
                        
                        <div class="input-div label-size">
                            <label th:text="#{profissional.role.label}" for="role"></label> 
                            <select id="role" th:field="*{papel}"
                                              th:classappend="${#fields.hasErrors('papel')} ? is-invalid">
                                <option value="ROLE_PROF">ROLE_PROF</option>
                            </select>

                        </div>  <br>	
                    <input type="hidden" id="id" th:field="*{id}" />
                    <button type="submit" th:text="#{button.salvar.label}"></button>
                </form>
            </div>
        </section>   
    </body>
</html>
