<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section class="layout-content" layout:fragment="corpo">

            <div id="cadastro">
				<h2 th:text="#{cliente.cadastrar.label}"></h2>
                <form
                    th:action="${cliente.id == null} ? @{/admin/salvarCliente} : @{/admin/editarCliente}"
                    th:object="${cliente}" method="POST" class="form-cadastro">
						<div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.name.label}" for="name"></label> 
                            <input type="text" id="name-input" class="box-size" th:placeholder="#{cliente.name.label}"
                                                         autofocus="autofocus" th:field="*{nome}"
                                                         th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
                        </div>
                        
						<div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.email.label}" for="email"></label> 
                            <input type="email" id="email-input" class="box-size" th:placeholder="#{cliente.email.label}"
                                                           autofocus="autofocus" th:field="*{email}"
                                                           th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
                        </div>
                        
						<div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.password.label}" for="password"></label> 
                            <input type="text" id="password-input" class="box-size" th:placeholder="#{cliente.password.label}" autofocus="autofocus"
                                                             th:field="*{senha}"
                                                             th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:readonly="${cliente.id != null}"/>

                        </div>

                        <div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.CPF.label}" for="CPF"></label> 
                            <input type="text" id="cpf-input" class="box-size" th:field="*{CPF}"
                                                                    autofocus="autofocus" placeholder="___.___.___-__"
                                                                    th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" 
                                                                    data-mask="000.000.000-00" data-mask-reverse="true" />

                        </div> 
                           
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.telefone.label}" for="telefone"></label> 
                            <input type="text" id="telefone-input" class="box-size" th:field="*{telefone}"
                                                                    placeholder="(DD) _____-____"
                                                                    autofocus="autofocus"  th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
                                                                    data-mask="(00) 00000-0000" />

                        </div>	
                        &nbsp;&nbsp; &nbsp;&nbsp;		
                        <div class=" text-input-size label-size">
                        	<label th:text="#{cliente.sexo.label}"></label> 
	                            <input type="radio" class="form-check-input" id="sexoM" th:field="*{sexo}"
	                                                                     th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" value="Masculino"/>
	                        	 <label th:text="#{cliente.sexoM.label}" for="sexoM"></label> 
	                            <input type="radio" class="form-check-input" id="sexoF" th:field="*{sexo}"
	                                                                     th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" value="Feminino"/>                                         
								<label th:text="#{cliente.sexoF.label}" for="sexoF"></label> 
                        </div>	
                        
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.data.label}" for="data"></label> 
                            <input type="text" id="data-input" class="box-size" th:field="*{dataNascimento}"
                                                                    autofocus="autofocus" placeholder="dd/MM/YYYY"
                                                                    th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" 
                                                                    data-mask="00/00/0000" />

                        </div>         
                        
                        <div class="input-div text-input-size label-size">
                            <label th:text="#{cliente.role.label}" for="role"></label> 
                            <select id="role" th:field="*{papel}"
                                              th:classappend="${#fields.hasErrors('papel')} ? is-invalid">
                                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                <option value="ROLE_USER">ROLE_USER</option>
                            </select>
                        </div><br>   
                    <input type="hidden" id="id" th:field="*{id}" />
                    <button type="submit" th:text="#{button.salvar.label}"></button>
                </form>
            </div>
        </section>   
    </body>
</html>
