<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section class="layout-content" layout:fragment="corpo">

            <div id="listagem">
				<h2 th:text="#{cliente.listar.label}"></h2>
                <div>
                    <table class="table-list">
                        <thead>
                            <tr>
                                <th class="hide-cliente">#</th>
                                <th th:text="#{cliente.name.label}" class="hide-nome-cliente"></th>
                                <th th:text="#{cliente.email.label}"></th>
                                <th th:text="#{cliente.CPF.label}" class="hide-cliente"></th>  
                                <th th:text="#{cliente.telefone.label}"></th>
                                <th th:text="#{cliente.sexo.label}"></th>
                                <th th:text="#{cliente.data.label}" class="hide-cliente"></th>
                                <th th:text="#{acao.label}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cliente : ${clientes}">
                                <td th:text="${cliente.id}" class="hide-cliente"></td>
                                <td th:text="${cliente.nome}" class="hide-nome-cliente"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.CPF}" class="hide-cliente"></td>
                                <td th:text="${cliente.telefone}"></td>
                                <td th:text="${cliente.sexo}"></td>
                                <td th:text="${cliente.dataNascimento}" class="hide-cliente"></td>
                                <td colspan="2">
                                    <a th:href="@{/admin/editarCliente/{id} (id=${cliente.id}) }"  th:text="#{link.editar.label}" ></a>
                                    <a th:href="@{/admin/excluirCliente/{id} (id=${cliente.id}) }" th:text="#{link.excluir.label}"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
